*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header  {
    background-color: #391542;

}

.bemvindo-cabecalho{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 5px;
}

ul{
    color: white;
    
}

.redes-sociais-cabecalho img {
    margin-left: 5px;
    width: 25px;
}

.centralizar-informacoes-cabecalho {
    text-align: center;
}

.rodape {
    background-color: #391542;
    padding-bottom: 50px;
}

p {
    display: inline;
}

.rodape-inline {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}



.atendimento-centralizando {
    padding-left: 250px;
}

.redessociais-centralizando {
    padding-left: 250px;
}

.p-institucional{
    margin-left: 183px;
}



.facebook-block{
    display: block;
    
}

.isntagram-block{
    display: block;
    margin-top: 10px;
}

.whatsapp-block{
    display: block;
    margin-top: 10px;
}

.redes-sociais-rodape{
    padding-left: 1005px;
    margin-top: 10px;
}

